@using DemoASPApp.model
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/RegisterStyle.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/registration.css" asp-append-version="true" />
</head>
<body>
    <!-- Header -->
    <header class="bg-primary text-white p-3 mb-4">
        <div class="container text-center">
            <h1 class="mb-0">User Registration Portal</h1>
           
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @* <!-- Footer -->
    <footer class="bg-light text-center py-3 mt-5 border-top">
        <span>&copy; 2025 Karthi Systems — All rights reserved</span>
    </footer> *@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
