@page 
@model DemoASPApp.Pages.DepartmentModel
@{
    Layout = "_MyLayout";
}

<h1>Department</h1>

@if (Model.Employee != null)
{
    <ul>
        <li><strong>Department Name:</strong> @Model.Employee.Department.Name</li>
        <li><strong>Short Name:</strong> @Model.Employee.Department.ShortName</li>
    </ul>
}
else
{
    <p>No department information available for this user.</p>
}
