@page 
@model DemoASPApp.Pages.DesignationModel
@{
    Layout = "_MyLayout";
}

<h1>Designation</h1>

@if (Model.Employee == null)
{
    <p style="color:red;">This user is not yet registered as an employee.</p>
}
else
{
    <p><strong>Designation:</strong> @Model.Employee.Designation?.Name</p>
    <p><strong>Short Name:</strong> @Model.Employee.Designation?.ShortName</p>
}