@page 
@model DemoASPApp.Pages.DesignationModel
@{
    Layout = "_MyLayout";
}

<h1>Designation</h1>

@if (Model.Employee != null)
{
    <p><strong>User Name:</strong> @Model.Employee.user.userName</p>
    <p><strong>Designation:</strong> @Model.Employee.Designation.Name</p>
}
else
{
    <p>No designation information available for this user.</p>
}
