@page
@model Index1Model
@{
    ViewData["Title"] = "_Layout";
}

<div class="text-center">
    @if (ViewData["uname"]!=null)
    {

        <h1 class="display-4"> Hi  @ViewData["uname"] , Welcome  !!!</h1>

    }else

    {

        <h1 class="display-4">Hi Welcome</h1>

    }

</div>
